{%- liquid
    assign show_dynamic_checkout = block.settings.show_dynamic_checkout
    assign atc_animation = block.settings.atc_animation
    assign atc_color = block.settings.atc_color
    assign atc_border_color = block.settings.atc_border_color
    assign atc_bg_color = block.settings.atc_bg_color
    assign atc_bg_color_gradient = block.settings.atc_bg_color_gradient
    assign atc_color_hover = block.settings.atc_color_hover
    assign atc_border_color_hover = block.settings.atc_border_color_hover
    assign atc_bg_color_hover = block.settings.atc_bg_color_hover
    assign atc_bg_color_gradient_hover = block.settings.atc_bg_color_gradient_hover
    assign bin_color = block.settings.bin_color
    assign bin_border_color = block.settings.bin_border_color
    assign bin_bg_color = block.settings.bin_bg_color
    assign bin_bg_color_gradient = block.settings.bin_bg_color_gradient
    assign bin_color_hover = block.settings.bin_color_hover
    assign bin_border_color_hover = block.settings.bin_border_color_hover
    assign bin_bg_color_hover = block.settings.bin_bg_color_hover
    assign bin_bg_color_hover_gradient = block.settings.bin_bg_color_hover_gradient
    assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif
    assign sticky_add_to_cart_always_mb = section.settings.enable_sticky_add_to_cart_always_mobile
-%}
<div class="productView-buttons">

    {%- assign product_form_installment_id = 'product-form-installment-' | append: product.id -%}
    {%- form 'product', product, id: product_form_installment_id, class: 'installment caption-large' -%}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        {{ form | payment_terms }}
    {%- endform -%}
    {%- assign product_form_id = 'product-form-' | append: product.id -%}
    <product-form class="productView-form product-form{% if sticky_add_to_cart_always_mb %} always-on-mobile{% endif %}">
        {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
            {%- if gift_card_recipient_feature_active -%}
              {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
            {%- endif -%}
            <div class="productView-group">
                {%- if check_show_qty == 'show_qty_2' -%}
                    {%- if show_subtotal_text and subtotal_style == '1' -%}
                        <div class="productView-subtotal">
                            <span class="text">{{ 'sections.cart.subtotal' | t | append: ': ' }}</span>
                            <span class="money-subtotal">{{ subtotal }}</span>
                        </div>
                    {%- endif -%}
                    {%- if product.quantity_price_breaks_configured? -%}
                        <price-per-item
                            id="Price-Per-Item-{{ section.id }}"
                            data-section-id="{{ section.id }}"
                            data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                            >
                            {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                              {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                              <div class="price-per-item">
                                {%- if variant_price_compare -%}
                                  <dl class="price-per-item--current">
                                    <dt class="visually-hidden">
                                      {{ 'products.product.price.regular_price' | t }}
                                    </dt>
                                    <dd>
                                      <s class="variant-item__old-price">
                                        {{ variant_price_compare | money_with_currency }}
                                      </s>
                                    </dd>
                                  </dl>
                                {%- endif -%}
                                {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                                  {%- assign variant_price = product.selected_or_first_available_variant.price
                                    | money_with_currency
                                  -%}
                                  <span class="price-per-item--current">
                                    {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                                  </span>
                                {%- else -%}
                                  {%- for price_break in volume_pricing_array -%}
                                    {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                                      {%- assign price_break_price = price_break.price | money_with_currency -%}
                                      <span class="price-per-item--current">
                                        {{-
                                          'products.product.volume_pricing.price_at_each'
                                          | t: price: price_break_price
                                        -}}
                                      </span>
                                      {%- break -%}
                                    {%- endif -%}
                                  {%- endfor -%}
                                {%- endif -%}
                              </div>
                            {%- else -%}
                              {%- assign variant_price = product.selected_or_first_available_variant.price
                                | money_with_currency
                              -%}
                              {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                              <div class="price-per-item">
                                {%- if variant_price_compare -%}
                                  <dl class="price-per-item--current">
                                    <dt class="visually-hidden">
                                      {{ 'products.product.price.regular_price' | t }}
                                    </dt>
                                    <dd>
                                      <s class="variant-item__old-price">
                                        {{ variant_price_compare | money_with_currency }}
                                      </s>
                                    </dd>
                                    <dt class="visually-hidden">
                                      {{ 'products.product.price.sale_price' | t }}
                                    </dt>
                                    <dd>
                                      <span class="price-per-item--current">
                                        {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                                      </span>
                                    </dd>
                                  </dl>
                                {%- else -%}
                                  <span class="price-per-item--current">
                                    {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                                  </span>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                        </price-per-item>
                        <div class="quantity__rules caption" id="Quantity-Rules-{{ section.id }}">
                            {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                              <span class="divider">
                                {{-
                                  'products.product.quantity.multiples_of'
                                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                                -}}
                              </span>
                            {%- endif -%}
                            {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                              <span class="divider">
                                {{-
                                  'products.product.quantity.minimum_of'
                                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                                -}}
                              </span>
                            {%- endif -%}
                            {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                              <span class="divider">
                                {{-
                                  'products.product.quantity.maximum_of'
                                  | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                                -}}
                              </span>
                            {%- endif -%}
                        </div>
                        <volume-pricing class="parent-display" id="Volume-{{ section.id }}">
                          {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                            <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                            <ul class="list-unstyled">
                              <li>
                                <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                                {%- assign price = product.selected_or_first_available_variant.price
                                  | money_with_currency
                                -%}
                                <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">
                                  {{- 'sections.quick_order_list.each' | t: money: price -}}
                                </span>
                              </li>
                              {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                                {%- assign price_break_price = price_break.price | money_with_currency -%}
                                <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                                  <span>
                                    {{- price_break.minimum_quantity -}}
                                    <span aria-hidden="true">+</span></span
                                  >
                                  <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                                    {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                                  </span>
                                </li>
                              {%- endfor -%}
                            </ul>
                            {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                                <show-more-button>
                                    <button
                                      class="button-show-more link underlined-link"
                                      id="Show-More-{{ section.id }}"
                                      type="button"
                                    >
                                      <span class="label-show-more label-text"
                                        ><span aria-hidden="true">+ </span>{{ 'general.button_load_more.default' | t }}
                                      </span>
                                    </button>
                                </show-more-button>
                            {%- endif -%}
                          {%- endif -%}
                        </volume-pricing>
                    {%- endif -%}
                {%- endif -%}
                <div class="pvGroup-row">
                  {% if variant_type > 1 %}
                    {%- if step_by_step_variant -%}
                      <div class="productView-prev clearfix{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
                        <a role="link" aria-disabled="true" data-action="prev" class="btn-step-variant btn-prev__variant">
                          <span class="visually-hidden">{{ 'products.product.step_by_step.previous' | t }}</span>{% render 'icon-chevron-left' %}
                        </a>
                      </div>
                    {%- endif -%}
                  {% endif %}
                    {%- if check_show_qty == 'show_qty_1' or check_show_qty == 'show_qty_2' -%}
                        {%- liquid
                            if check_show_qty == 'show_qty_1'
                                assign check_hidden = true
                            endif
                        -%}
                        {% render 'product-quantity', current_variant: current_variant, check_hidden: check_hidden, qty_style: qty_style, quantity_stt: 1, product: product %}
                    {%- endif -%}
                    <div class="productView-groupTop">
                        <div class="productView-action{% unless settings.show_wishlist %} productView-action-2{% endunless %}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" style="--atc-color: {{ atc_color }};--atc-bg-color: {% if atc_bg_color_gradient != blank %}{{ atc_bg_color_gradient }}{% else %}{{ atc_bg_color }}{% endif %};--atc-border-color: {{ atc_border_color }};--atc-color-hover: {{ atc_color_hover }};--atc-bg-color-hover: {% if atc_bg_color_gradient_hover != blank %}{{ atc_bg_color_gradient_hover }}{% else %}{{ atc_bg_color_hover }}{% endif %};--atc-border-color-hover: {{ atc_border_color_hover }}">
                            {% if variant_type > 1 %}
                              {%- if step_by_step_variant -%}<a role="link" aria-disabled="true" data-action="next" class="btn-next__variant product-form__submit button button--primary an-horizontal-shaking button-text-change">{{ 'products.product.step_by_step.next' | t }}</a>{%- endif -%}
                            {% endif %}
                            <input type="hidden" name="id" value="{{ current_variant.id }}">
                            <div class="product-form__buttons">
                                {%- if current_variant.available -%}
                                    {%- if current_variant.inventory_management -%}
                                        {%- assign first_inventory = current_variant.inventory_quantity -%}
                                        {%- liquid
                                           if current_variant.available and first_inventory == 0
                                             assign allowOutStockSale = true 
                                           else
                                             assign allowOutStockSale = false
                                           endif
                                        -%}
                                        <button{% if variant_type > 1 %} data-action="cart"{% endif %} type="submit" name="add" data-btn-addToCart data-inventory-quantity="{{ current_variant.inventory_quantity }}" data-available="{{ allowOutStockSale }}" class="product-form__submit button button--primary an-{{ atc_animation }}{% if first_inventory == 0 %} button-text-change{% else %}{% if show_subtotal_text %} button-text-change{% endif %}{% endif %}{% if settings.animations_hover_elements == '3d-lift' or settings.animations_hover_elements == 'vertical-lift' %} button-not-animation{% endif %}" id="product-add-to-cart">
                                            {%- if first_inventory > 0 -%}
                                                {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                    {%- assign subtotal = subtotal | strip_html -%}

                                                    {{ 'products.product.sub_total' | t : value : subtotal }}
                                                {%- else -%}
                                                    {{ 'products.product.add_to_cart' | t}}
                                                {%- endif -%}
                                            {%- else -%}
                                                {{ 'products.product.pre_order' | t }}
                                            {%- endif -%}
                                        </button>
                                    {%- else -%}
                                        <button{% if variant_type > 1 %} data-action="cart"{% endif %} type="submit" name="add" data-btn-addToCart class="product-form__submit button button--secondary an-{{ atc_animation }}{% if show_subtotal_text %} button-text-change{% endif %}{% if settings.animations_hover_elements == '3d-lift' or settings.animations_hover_elements == 'vertical-lift' %} button-not-animation{% endif %}" id="product-add-to-cart">
                                            {%- if show_subtotal_text and subtotal_style == '2' -%}
                                                {%- assign subtotal = subtotal | strip_html -%}
                                                {{ 'products.product.sub_total' | t : value : subtotal }}
                                            {%- else -%}
                                                {{ 'products.product.add_to_cart' | t}}
                                            {%- endif -%}
                                        </button>
                                    {%- endif -%}
                                {%- else -%}
                                    <button{% if variant_type > 1 %} data-action="cart"{% endif %} type="submit" name="add" data-btn-addToCart class="product-form__submit button{% if settings.animations_hover_elements == '3d-lift' or settings.animations_hover_elements == 'vertical-lift' %} button-not-animation{% endif %}" id="product-add-to-cart" disabled>{{ 'products.product.sold_out' | t }}</button>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- if settings.show_wishlist -%}
                            <div class="productView-wishlist clearfix{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
                                <a role="link" aria-disabled="true" data-wishlist data-wishlist-handle="{{ product.handle }}" data-product-id="{{ product.id }}"><span class="visually-hidden">{{ 'wishlist.general.add' | t }}</span>{% render 'icon-heart' %}{% if settings.show_wishlist_full_icon %}{% render 'icon-heart-add-2' %}{% endif %}</a>
                            </div>
                        {%- endif -%}
                        {%- if check_show_share == '2' -%}
                            {% render 'halo-share', product: product, share_layout: check_show_share %}
                        {%- endif -%}
                    </div>
                </div>
                {%- if show_dynamic_checkout or show_dynamic_checkout_sticky_atc_always_mb -%}
                    <div class="productView-groupBottom{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
                        {%- if settings.show_global_checkbox -%}
                            <div class="productView-groupItem">
                                {%- if settings.show_global_checkbox -%}
                                    <div class="productView-checkbox global-checkbox">
                                        <input class="global-checkbox--input" type="checkbox" name="conditions" id="product_conditions_{{ product.id }}" data-target="#product-checkout-{{ product.id }}">
                                        <label class="global-checkbox--label form-label--checkbox" for="product_conditions_{{ product.id }}">{{ settings.global_checkbox_text }}</label>
                                        {%- if settings.global_checkbox_link_text != blank -%}
                                            <button type="button" data-term-condition>{{ settings.global_checkbox_link_text | escape }}</button>
                                        {%- endif -%}
                                    </div>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                        <div class="productView-groupItem">
                            <div class="productView-payment" {% if settings.show_global_checkbox %} disabled="disabled"{% endif %} id="product-checkout-{{ product.id }}" style="--bin-color: {{ bin_color }};--bin-bg-color: {% if bin_bg_color_gradient != blank %}{{ bin_bg_color_gradient }}{% else %}{{ bin_bg_color }}{% endif %};--bin-border-color: {{ bin_border_color }};--bin-color-hover: {{ bin_color_hover }};--bin-bg-color-hover: {% if bin_bg_color_hover_gradient != blank %}{{ bin_bg_color_hover_gradient }}{% else %}{{ bin_bg_color_hover }}{% endif %};--bin-border-color-hover: {{ bin_border_color_hover }}"> 
                                {{ form | payment_button }}
                            </div>
                        </div>
                    </div>
                {%- endif -%}
            </div>
        {%- endform -%}
    </product-form>
    {%- if settings.show_notify_form -%}
        {%- assign form_id = 'product-productView-notify-form-' | append: product.id -%}
        <div class="productView-notifyMe  halo-notifyMe{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}" {% if product.variants.size > 1 %}style="display: none;"{% else %}{% if product.available %}style="display: none;"{% endif %}{% endif %}>
            {% render 'halo-notify-sold-out', id: product.id, id_form: form_id , current_variant: current_variant %}
        </div>
    {%- endif -%}
</div>