{%- assign color_map_string = "Black - Magsafe:#000000|Purple - Magsafe:#8B008B|Clear - Magsafe:#EDEDED|Indigo Blue - Magsafe:#0000ff|Carbon Black - Magsafe:#353535|Grey - Magsafe:#B0B0B0|Purple -Magsafe:#0000ff|Red - Magsafe:#E02E2E|Steel Grey - Magsafe:#7A7D7D|Black - Magsafe:#000000  Clear:#EDEDED|Indigo Blue:#0000ff|Carbon Black:#000000|Grey:#B0B0B0|Puple:#8B008B|Red:#E02E2E|Steel Grey:#7A7D7D|White - Blue:#0000ff|Black - Black:#000000|Green - Grey:#808080||Purple:#800080" -%}
{%- assign color_map = color_map_string | split: "|" -%}
{%- liquid
    assign variant_selected = variant_selected | handleize
    assign variantCount = product.variants | size
    assign swatch_type = settings.swatch_type
    assign colorList = '|'
    assign color = ''
    assign count = 0
    if settings.enable_custom_position_swatch_layout_card_1
        assign number_limit = 5
    else
        assign number_limit = 4
    endif
-%}
{%- if variantCount > 0 and product.variants.first.title != 'Default Title' -%}
    <div class="card-swatch text-{{ settings.product_content_text_align }} clearfix{% if settings.quick_shop_type == '2' %} quick_shop_type_2{% endif %}" id="product-swatch-{{ product.id }}">
        <ul class="swatch list-unstyled">
            {%- for variant in product.variants -%}
                {%- assign color = variant.options[index] -%}
                {%- assign color_check = color | prepend: "|" | append: "|" -%}

                {%- unless colorList contains color_check -%}
                    {%- liquid
                        assign text = color | handleize
                        assign enable_variant_image = false

                        case swatch_type
                            when 'variant_image'
                                assign background_image = variant.image.src | product_img_url: '40x'
                                if variant.image
                                    assign enable_variant_image = true
                                endif
                            when 'color'
                                assign background_image = color | handle | append: '.png' | file_url
                                assign enable_variant_image = true
                            when 'metafields'
                                assign variant_color = variant.metafields.custom.variant_color
                                assign color_codes = false
                                if variant_color
                                    assign enable_variant_image = true
                                    if variant_color contains '#' or variant_color contains 'rgb' or variant_color contains 'hsl'
                                        assign color_codes = true
                                        assign background_color = variant_color
                                    else
                                        assign background_image = variant_color | append: '.png' | file_url
                                    endif
                                elsif variant.image
                                    assign enable_variant_image = true
                                    assign background_image = variant.image.src | product_img_url: '120x'
                                endif
                            when 'metaobjects'
                                assign metaobject_color = color.swatch.color
                                assign metaobject_image = color.swatch.image
                                assign has_metaobject = false
                                assign has_image = false
                                if metaobject_image != blank
                                    assign background_image = metaobject_image | product_img_url: '120x'
                                    assign enable_variant_image = true
                                    assign has_metaobject = true
                                    assign has_image = true
                                elsif metaobject_color != blank
                                    assign background_color = metaobject_color
                                    assign enable_variant_image = true
                                    assign has_metaobject = true
                                elsif variant.image
                                    assign background_image = variant.image.src | product_img_url: '120x'
                                    assign enable_variant_image = true
                                endif
                        endcase
                    -%}

                    {%- assign color_code = '' -%}
                    {%- for pair in color_map -%}
                        {%- assign name_code = pair | split: ":" -%}
                        {%- if name_code[0] == color -%}
                            {%- assign color_code = name_code[1] -%}
                        {%- endif -%}
                    {%- endfor -%}

                    {%- if count < number_limit -%}
                        <li class="item">
                            <div class="item-wrapper clearfix">
                                <label{% if product.options_with_values.size == 1 %} data-with-one-option="{{ variant.id }}" data-quantity="{% if variant.available %}1{% else %}0{% endif %}" {% endif %} class="swatch-label{% if settings.show_quick_shop %}{% unless settings.quick_shop_type == '2' %}{% if variant_selected != blank %}{% if variant_selected == text %} is-active{% endif %}{% else %}{% if count == 0 %} is-active{% endif %}{% endif %}{% endunless %}{% endif %}{% if product.options_with_values.size == 1 and variant.unavailable %} is-soldout{% endif %}" data-value="{{ text }}" data-variant-id="{{ variant.id }}" title="{{ color | strip }}" {% if variant.image != null -%} data-variant-img="{{ variant.image.src | product_img_url: '800x' }}"{% endif %}>
                                    <span
                                        class="pattern"
                                        style="background-color:{{ variant.metafields.custom.color.value }} ;{% if enable_variant_image %}{% if swatch_type == 'metafields' %}{% if color_codes %} background: {{ background_color }};{% else %} background: url({{ background_image }}); background-size: cover;{% endif %}{% elsif has_metaobject and swatch_type == 'metaobjects' %}{% if has_image %}background: url({{ background_image }}); background-size: cover;{% else %}background: {{ background_color }};{% endif %}{% else %} background-image: url({{ background_image }});{% endif %}{% endif %}"
                                    ></span>
                                    {{ text }}
                                </label>
                                <span class="tooltip">{{ color | escape }}</span>
                            </div>
                        </li>
                    {%- else -%}
                        {%- if count == number_limit -%}
                            <li class="group-swatch" style="display: none">
                        {%- endif -%}
                            <div class="item-wrapper clearfix">
                                <label{% if product.options_with_values.size == 1 %} data-with-one-option="{{ variant.id }}" data-quantity="{% if variant.available %}1{% else %}0{% endif %}"{% endif %} class="swatch-label{% if settings.show_quick_shop %}{% unless settings.quick_shop_type == '2' %}{% if variant_selected != blank %}{% if variant_selected == text %} is-active{% endif %}{% else %}{% if count == 0 %} is-active{% endif %}{% endif %}{% endunless %}{% endif %}{% if product.options_with_values.size == 1 and variant.unavailable %} is-soldout{% endif %}" data-value="{{ text }}" data-variant-id="{{ variant.id }}" title="{{ color | strip }}" {% if variant.image != null %} data-variant-img="{{ variant.image.src | product_img_url: '800x' }}"{% endif %}>
                                    <span
                                        class="pattern"
                                        style="background-color:{{ variant.metafields.custom.color.value }} ;{% if enable_variant_image %}{% if swatch_type == 'metafields' %}{% if color_codes %} background: {{ background_color }};{% else %} background: url({{ background_image }}); background-size: cover;{% endif %}{% elsif has_metaobject and swatch_type == 'metaobjects' %}{% if has_image %}background: url({{ background_image }}); background-size: cover;{% else %}background: {{ background_color }};{% endif %}{% else %} background-image: url({{ background_image }});{% endif %}{% endif %}"
                                    ></span>
                                    {{ text }}
                                </label>
                                <span class="tooltip">{{ color | escape }}</span>
                            </div>
                        {%- if forloop.last -%}
                            </li>
                        {%- endif -%}
                    {%- endif -%}
                    {%- assign count = count | plus : 1 -%}
                    {%- capture tempList -%}
                        {{- colorList | append: color | append: '|' -}}
                    {%- endcapture -%}
                    {%- assign colorList = tempList -%}
                {%- endunless -%}
            {%- endfor -%}
            {%- if count > number_limit -%}
                <li class="item-swatch-more item"><button type="button" class="number-showmore" title="More Color"><span>+</span> <span class="text-number">{{ count | minus : number_limit }}</span></button></li>
            {%- endif -%}
        </ul>
    </div>
{%- endif -%}