<!doctype html>
{%- liquid
    if settings.list_iso_rtl != blank
        assign locale_iso_code = request.locale.iso_code
        assign arr_list_rtl = settings.list_iso_rtl | remove:' ' | split:','
        if arr_list_rtl contains locale_iso_code
            assign enable_iso_rtl = true
        else
            assign enable_iso_rtl = false
        endif
    else
        assign enable_iso_rtl = false
    endif
-%}
<html class="no-js" lang="{{ request.locale.iso_code }}"{% if settings.enable_layout_rtl and enable_iso_rtl %} dir="rtl"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Cache-Control" content="no-store">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="">
        <link rel="canonical" href="{{ canonical_url }}" canonical-shop-url="{{ shop.url }}/">
        {%- if settings.favicon != blank -%}
            <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
        {%- endif -%}
        <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
        <title>{{ page_title }} {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%} {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%} {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}</title>

        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        {% render 'meta-tags' %}
        {{ content_for_header }}
        {% render 'variable' %}
        {% render 'global-style' %}
        {% render 'global-script' %}

        {{ 'custom-style.css' | asset_url | stylesheet_tag }}
        {{ 'custom.css' | asset_url | stylesheet_tag }}

        <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

        {%- liquid
            if settings.layout_body == 'full'
                assign layout_body = 'body-full-width'
            elsif settings.layout_body == 'boxed'
                assign layout_body = 'body-boxed'
            elsif settings.layout_body == 'custom_width'
                assign layout_body = 'body-custom-width'
            endif
        
            if settings.style_dots == '02'
                assign style_dots = 'style-dots-2'
            endif
        
            if settings.style_arrows == '02'
                assign style_arrows = 'style-arrows-2'
            elsif settings.style_arrows == '05'
                assign style_arrows = 'style-arrows-5'
            elsif settings.style_arrows == '06'
                assign style_arrows = 'style-arrows-6'
            elsif settings.style_arrows == '07'
                assign style_arrows = 'style-arrows-7'
            elsif settings.style_arrows == '08'
                assign style_arrows = 'style-arrows-8'
            elsif settings.style_arrows == '09'
                assign style_arrows = 'style-arrows-9'
            elsif settings.style_arrows == '10'
                assign style_arrows = 'style-arrows-10'
            endif
        
            if settings.product_card_layout == '02'
                if settings.enable_infor_on_image
                    assign product_card_layout = 'product-card-layout-02 enable_infor_on_image'
                else
                    assign product_card_layout = 'product-card-layout-02'
                endif
            elsif settings.product_card_layout == '03'
                assign product_card_layout = 'product-card-layout-03'
            elsif settings.product_card_layout == '04'
                assign product_card_layout = 'product-card-layout-04'
            elsif settings.product_card_layout == '05'
                assign product_card_layout = 'product-card-layout-05'
            elsif settings.product_card_layout == '06'
                assign product_card_layout = 'product-card-layout-06'
            elsif settings.product_card_layout == '07'
                assign product_card_layout = 'product-card-layout-07'
            elsif settings.product_card_layout == '08'
                assign product_card_layout = 'product-card-layout-08'
            else
                assign product_card_layout = 'product-card-layout-01'
            endif
        
            case settings.quick_shop_type
                when '1'
                    assign quick_shop_type = 'quick_shop_option_1'
                when '2'
                    assign quick_shop_type = 'quick_shop_option_2'
                when '3'
                    assign quick_shop_type = 'quick_shop_option_3'
                when '4'
                    assign quick_shop_type = 'quick_shop_bulk'
            endcase
        
            if settings.style_text_size_varriant == '02'
                assign style_text_size_varriant = 'size_varriant_style_2'
            endif
        -%}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">


<!-- JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> 

    </head>

    <body id="{{ page_title | handleize }}" class="custom-body-class {% if template == 'index' %}home-banner{% endif %} template-{{ request.page_type }} {{layout_body}} {{style_dots}} {{style_text_size_varriant}} {{style_arrows}} {{product_card_layout}} {% if settings.enable_button_disable_arrows %} enable_button_disable_arrows{% endif %}{% if settings.display_text_color_title %} enable_text_color_title{% if settings.style_text_color_varriant == '02' %} style_2_text_color_varriant{% endif %}{% endif %}{% if settings.hide_compare_homepage %} hide_compare_homepage{% endif %} {{ quick_shop_type }}{% if settings.show_image_loading %} show_image_loading{% endif %}{% if settings.show_effect_close %} show_effect_close{% endif %}{% if settings.enable_layout_rtl and enable_iso_rtl %} layout_rtl{% endif %}{% if request.design_mode %} shopify-design-mode{% endif %}{% if settings.animations_hover_elements != 'none' %} animate--hover-{{ settings.animations_hover_elements }}{% endif %}{% if settings.enable_following_cursor and settings.following_cursor_style == 'default' %} cursor-fixed__show{% endif %}{% unless settings.enable_currencies %} disable_currencies{% endunless %}{% if settings.enable_button_1_border_outside %} btn_1_br_outside{% endif %}{% if settings.enable_button_2_border_outside %} btn_2_br_outside{% endif %}{% if settings.enable_button_3_border_outside %} btn_3_br_outside{% endif %}{% if settings.show_price_percent %} show_price_percent{% endif %}{% if settings.show_wishlist_full_icon %} icon_wishlist_full{% endif %}{% if settings.discount_calculator_free_shipping == 'setup_shipping_delivery' %} setup_shipping_delivery{% endif %}{% if settings.badge_style == 'leaf' %} badge-leaf{% endif %} {{ template }}{% if template == "product" %} {{ product.handle }}{% endif %}{% if template == "collection" %} {{ collection.handle }}{% endif %}" allow-transparency>
        <div class="body-content-wrapper">
            <a class="skip-to-content-link button visually-hidden" href="#MainContent">{{ "accessibility.skip_to_text" | t }}</a>
            {% render 'preload-screen' %}
            {% sections 'header-group' %}
            {% render 'wrapper-header' %}

            {%- if settings.layout_body == 'boxed' -%}
                <div class="wrapper-hasbanner-adv">
            {%- endif -%}
                {% render 'halo-banner-adv-left' %}
                {% render 'halo-banner-adv-right' %}
                <main id="MainContent" class="wrapper-body content-for-layout focus-none" role="main" tabindex="-1">
                    {{ content_for_layout }}
                </main>
            {%- if settings.layout_body == 'boxed' -%}
                </div>
            {%- endif -%}

            <div class="wrapper-footer">{% sections 'footer-group' %}</div>

            {% section 'halo-toolbar-mobile' %}

            <ul hidden><li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li></ul>

            {% render 'global-script-2' %}
        </div>
        {% render 'halo-popup' %}

        {%- if settings.enable_view_documentation or settings.enable_promotion -%}
            {% render 'theme-editor-notification' %}
        {%- endif -%}

        {%- if settings.use_custom_js -%}
            {{ 'custom.js' | asset_url | script_tag }}
        {%- endif -%}

        <div class="background-overlay">
            {%- if settings.show_effect_close -%}
            <div class="background-cursor-wrapper">
                <div class="background-cursor-wrapper_outer">
                    <div class="background-cursor-wrapper_inner"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="20" height="20"><g class="nc-icon-wrapper" fill="#ffffff" transform="translate(0.5, 0.5)"><line fill="none" stroke-width="6" x1="46" y1="2" x2="2" y2="46"/> <line fill="none" stroke-width="6" x1="46" y1="46" x2="2" y2="2"/></g></svg></div>
                </div>
            </div>
            {%- endif -%}
        </div>

        {% render 'halo-sidebar' %}

        {%- if settings.enable_following_cursor -%}
            {% render 'cursor-fixed', style_cursor: settings.following_cursor_style %}
        {%- endif -%}

        {% if settings.enable_currencies and settings.currency_type == 'auto_currencies' %}
            {% render 'halo-currency-js' %}
        {% endif %}



        {% comment %} logo reload {% endcomment %}

      <div id="page-loader" style="display:none;">
            <img src="https://cdn.shopify.com/s/files/1/0784/1736/3187/files/Hexalan_Logo.png?v=1763465513" alt="Loading..." />
            </div>
    </body>



    <script>
  jQuery(window).on('scroll', function() {
    if (jQuery(this).scrollTop() > 50) {
      jQuery('body').addClass('cst-header-sticky');
    } else {
      jQuery('body').removeClass('cst-header-sticky');
    }
  });
  $(document).ready(function () {
    // Add link to "Our Factory"
    $('.cst-factory > a').attr('href', '/pages/our-factory');
  
    // Add link to "Tracking"
    $('.cst-tracking > a').attr('href', '/pages/tracking');
  });
  
</script>


  <script>
  {% comment %} document.addEventListener("DOMContentLoaded", function () {
    const loader = document.getElementById("page-loader");

    document.querySelectorAll('a[href]').forEach(link => {
      link.addEventListener('click', function (e) {
        const url = this.getAttribute('href');

        if (!url.startsWith('#') && this.target !== "_blank") {
          loader.style.display = "flex";

          e.preventDefault();
          setTimeout(() => {
            window.location.href = url;
          }, 900); // duration before navigating (adjust timing)
        }
      });
    });
  }); {% endcomment %}

 window.addEventListener("beforeunload", function () {
    document.getElementById("page-loader").style.display = "flex";
});

// Show loader when clicking a link
document.addEventListener("click", function (e) {
    const link = e.target.closest("a[href]");
    if (!link) return;

    const href = link.getAttribute("href");
    if (href.startsWith("#") || link.target === "_blank") return;

    document.getElementById("page-loader").style.display = "flex";
});

// Hide loader when page fully loads
window.addEventListener("load", function () {
    document.getElementById("page-loader").style.display = "none";
});


{% comment %} document.addEventListener('DOMContentLoaded', function() {
    const menuToggle = document.querySelector('.halo-sidebar-toggle'); // adjust if your hamburger has a different class
    const menuClose = document.querySelector('.halo-sidebar-close');
    const sidebar = document.querySelector('.halo-sidebar'); // adjust if your menu wrapper class is different

    if(menuToggle && menuClose && sidebar) {
        // Open sidebar
        menuToggle.addEventListener('click', () => {
            sidebar.classList.add('open');
        });

        // Close sidebar
        menuClose.addEventListener('click', () => {
            sidebar.classList.remove('open');
        });
    }
}); {% endcomment %}
{% comment %} document.addEventListener('click', function (e) {
  const sidebar = document.getElementById('navigation-mobile');

  // OPEN
  if (e.target.closest('[data-navigation-mobile]')) {
    sidebar.style.transform = 'translateX(0)';
    sidebar.style.visibility = 'visible';
    sidebar.style.opacity = '1';
    document.body.style.overflow = 'hidden';
  }

  // CLOSE + RELOAD
  if (e.target.closest('[data-menu-close-sidebar]')) {
    sidebar.style.transform = 'translateX(-100%)';
    sidebar.style.visibility = 'hidden';
    sidebar.style.opacity = '0';
    document.body.style.overflow = '';

    setTimeout(function () {
      window.location.reload();
    }, 300);
  }
}); {% endcomment %}

</script>
</html>
