{{ 'component-header-advanced.css' | asset_url | stylesheet_tag }}
{%- if settings.enable_layout_rtl -%}
    {% style %}
        @media (min-width: 1025px) {
            .layout_rtl .header-top--wrapper .header-advanced__customText {margin-left: 25px;margin-right: 0;text-align: right}
            .layout_rtl .header-top--wrapper .header-top--right .header__icon+.header__icon {margin-left: 0;margin-right: 35px}
            .layout_rtl .header-bottom--wrapper .header-bottom-right .help-item {margin-right: 0;padding-right: 0;margin-left: 14px;padding-left: 20px}
            .layout_rtl .header-bottom--wrapper .header-bottom-right .help-item:before {right: auto;left: 0}
            .layout_rtl .top-language-currency.enable-currency .halo-top-language .disclosure__button .text {margin-right: 10px;margin-left: 0}
            .layout_rtl .top-language-currency .halo-top-language+.halo-top-currency:before {left: auto;right: 0}
            .layout_rtl .top-language-currency .halo-top-language .disclosure__button {padding-left: 0}
            .layout_rtl .top-language-currency .halo-top-language+.halo-top-currency {margin-left: 0;margin-right: 2px;padding-left: 0;padding-right: 8px}
            .layout_rtl .header__group .header__icon--cart svg {margin-left: 0}
            .layout_rtl .header-top--wrapper .quickSearchResultsWrap {left: auto;right: 0}
            .layout_rtl .header-language_currency .top-language-currency.enable-currency .dropdown-language {left: 42px;right: auto}
            .layout_rtl .header-language_currency .top-language-currency .dropdown-currency,
            .layout_rtl .header-language_currency .top-language-currency.show .dropdown-currency{right: auto;left: 0}
        }
        @media (min-width: 1441px) {
            .layout_rtl .header-top--wrapper .header-advanced__customText {margin-left: 50px}
        }
    {% endstyle %}
{%- endif -%}

<header class="cst-home-header header header-advanced header-advanced--{{ section.settings.layout }}" style="--bor-top-color: {% if section.settings.border_top != blank and section.settings.border_top != 'rgba(0,0,0,0)' %}5px solid {{ section.settings.border_top }}{% else %}none{% endif %}">
    {%- for block in section.blocks -%}
        <div class="cst-header header-advanced__item{% if block.type == 'group_2' %} header-advanced__logo-position--{{ block.settings.logo_position }}{% endif %}{% if  block.settings.show_on_mb %} show-mb{% endif %}" style="--bg-color: {% if block.settings.gradient != blank %}{{ block.settings.gradient }}{% else %}{{ block.settings.background }}{% endif %}; --spacing-l-r: {{ block.settings.padding_full_width }}px; --padding-top: {{ block.settings.padding_top }}px; --padding-bottom: {{ block.settings.padding_bottom }}px;{% if block.type == 'group_2' %} --logo-width: {{ block.settings.logo_width }}px;{% endif %}--logo_mg_left: {{ block.settings.logo_mg_left }}px;">
            <div class="container container-{{ block.settings.container }}">
                <div class="header-advanced__content">
                    {%- case block.type -%}
                        {%-  when 'group_1' -%}
                            {%- if block.settings.custom_text_1 != blank or block.settings.custom_text_2 != blank -%}
                                <div class="header-advanced__col">
                                    {%- if block.settings.custom_text_1 != blank -%}
                                        <div class="header-advanced__customText" style="--text-size: {{ block.settings.text_size_1 }}px; --text-color: {{ block.settings.color_1 }}">
                                            {%- case block.settings.icon_1 -%}
                                                {%-  when '1' -%}
                                                    {% render 'icon-phone-2' %}
                                                {%-  when '2' -%}
                                                    {% render 'icon-mobile-phone' %}
                                                {%-  when '3' -%}
                                                    {% render 'icon-phone' %}
                                            {%- endcase -%}
                                            {% if block.settings.use_typewriter %}
                                            <type-writer class="typing-comma" data-period="2000" data-type='["{{ block.settings.custom_text_1 | replace: "<p>" | replace: "</p>" }}"]'></type-writer>
                                            {% else %}
                                            {{ block.settings.custom_text_1 }}
                                            {% endif %}
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.custom_text_2 != blank -%}
                                        <div class="header-advanced__customText" style="--text-size: {{ block.settings.text_size_2 }}px; --text-color: {{ block.settings.color_2 }}">
                                            {%- case block.settings.icon_2 -%}
                                                {%-  when '1' -%}
                                                    {% render 'icon-mail-3' %}
                                                {%-  when '2' -%}
                                                    {% render 'icon-mail-2' %}
                                                {%-  when '3' -%}
                                                    {% render 'icon-mail' %}
                                            {%- endcase -%}
                                            {{ block.settings.custom_text_2 }}
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                            {%- if block.settings.custom_text_3 != blank -%}
                                <div class="header-advanced__col">
                                    <div class="header-advanced__customText" style="--text-size: {{ block.settings.text_size_3 }}px; --text-color: {{ block.settings.color_3 }}">
                                        {{ block.settings.custom_text_3 }}
                                    </div>
                                </div>
                            {%- endif -%}
                            {%- if block.settings.custom_text_4 != blank or block.settings.show_language_currency -%}
                                <div class="header-advanced__col">
                                    {%- if block.settings.custom_text_4 != blank -%}
                                        <div class="header-advanced__customText" style="--text-size: {{ block.settings.text_size_4 }}px; --text-color: {{ block.settings.color_4 }}">
                                            {%- if block.settings.icon_4 != blank -%}{{ block.settings.icon_4 }}{%- endif -%}
                                            {{ block.settings.custom_text_4 }}
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.show_language_currency -%}
                                        <div class="header-advanced__lanCur style-{{ block.settings.language_currency_style }}{% if block.settings.hide_flag %} hide-flag-icon{% endif %}" style="--lan-cur-color: {{ block.settings.language_currency_color }};{% if block.settings.language_currency_style == '2' %}--font-body-size:14px;{% endif %}">
                                            <div class="header-language_currency">
                                                <div class="top-language-currency{% if settings.enable_currencies %} enable-currency{% endif %}">
                                                    {%- if block.settings.language_currency_style == '2' -%}
                                                    {% assign show-symbol = true %}
                                                    {%- endif -%} 
                                                    {%- if settings.enable_multilang_shopify -%}
                                                        {% render 'halo-top-language' %}
                                                    {%- endif -%}
                                                    {%- if settings.enable_currencies -%}
                                                        {% render 'halo-top-currency',
                                                            show-symbol: show-symbol %}
                                                    {%- endif -%}
                                                </div>
                                            </div>
                                        </div>
                                    {% elsif settings.enable_currencies %}
                                    {{ "jquery.currencies.min.js" | asset_url | script_tag }}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        {%-  when 'group_2' -%}
                            {%- if block.settings.show_logo -%}
                                <div class="header__logo text-left clearfix{% if block.settings.logo != blank %} has-logo{% endif %}" style="--logo-font-size: {{ block.settings.logo_font_size }}px; --logo-font-weight: {{ block.settings.logo_font_weight }}; --logo-color: {{ block.settings.logo_color }}">
                                    <{% if request.page_type == 'index' %}h1{% else %}div{% endif %} class="header__heading">
                                        <a href="{{ routes.root_url }}" class="header__heading-link focus-inset">
                                            {%- if block.settings.logo != blank -%}
                                                {%- liquid 
                                                    assign logo = block.settings.logo
                                                    assign logo_width = block.settings.logo_width
                                                    assign logo_height = logo_width | divided_by: logo.aspect_ratio | round
                                                    assign logo_alt = logo.alt | default: shop.name | escape
                                                -%}
                                                {{ logo | image_url: width: 300 | image_tag:
                                                    class: 'header__heading-logo motion-reduce',
                                                    widths: '50, 100, 150, 200, 250, 300, 400, 500',
                                                    height: logo_height,
                                                    width: logo_width,
                                                    alt: logo_alt
                                                }}
                                            {%- else -%}
                                                <span class="h2 {{ block.settings.logo_text_transform }}">{% if block.settings.logo_text != blank %}{{ block.settings.logo_text }}{% else %}{{ shop.name }}{% endif %}</span>
                                            {%- endif -%}
                                        </a>
                                    </{% if request.page_type == 'index' %}h1{% else %}div{% endif %}>
                                </div>
                            {%- endif -%}
                         
                                <!-- === START: DYNAMIC HEADER MEGA MENUS === -->
                                <ul class="header-navigation">
                                    {% for menu_group in section.blocks %}
                                    {% if menu_group.type == 'mega_menu_group' %}
                                        <li class="nav-item has-mega-menu cst-{{ menu_group.settings.group_handle }}">
                                        <a href="#">{{ menu_group.settings.menu_title }}</a>
                                
                                        <div class="mega-menu">
                                            <div class="mega-container">
                                
                                            <!-- LEFT SIDE: Brand Tabs -->
                                            <div class="brands-list">
                                                {% for block in section.blocks %}
                                                {% if block.type == 'brand_menu' and block.settings.group_handle == menu_group.settings.group_handle %}
                                                    <div class="brand-item {% if forloop.first %}active{% endif %}" data-brand="{{ block.settings.brand_handle | downcase }}">
                                                    {{ block.settings.brand_name }}
                                                    </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                
                                            <!-- RIGHT SIDE: Brand Panels -->
                                            <div class="brand-content">
                                                {% for block in section.blocks %}
                                                {% if block.type == 'brand_menu' and block.settings.group_handle == menu_group.settings.group_handle %}
                                                    {% assign brand_menu = linklists[block.settings.brand_menu] %}
                                                    <div class="brand-panel {% if forloop.first %}active{% endif %}" data-brand="{{ block.settings.brand_handle | downcase }}">
                                                        {% if brand_menu != blank %}
                                                        <div class="menu-columns">
                                                        {% for link in brand_menu.links %}
                                                        <div class="menu-col">
                                                            <h3><a href="{{ link.url }}">{{ link.title }}</a></h3>
                                                            {% if link.links.size > 0 %}
                                                            <ul>
                                                                {% for sublink in link.links %}
                                                                <li><a href="{{ sublink.url }}">{{ sublink.title }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                            {% endif %}
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                        {% endif %}
                                                    <!-- BRAND IMAGES -->
                                                    <div class="brand-images">
                                                        {% for image_block in section.blocks %}
                                                        {% if image_block.type == 'brand_image' and image_block.settings.brand_handle == block.settings.brand_handle %}
                                               
                                                            <div class="image-card">
                                                            {% if image_block.settings.image %}
                                                           <img src="{{ image_block.settings.image | image_url: width: 400 }}" alt="">
                                                            {% endif %}
                                                            {% if image_block.settings.text != blank %}
                                                                <div class="image-caption">{{ image_block.settings.text }}</div>
                                                            {% endif %}
                                                            </div>
                                            
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                
                                            </div>
                                        </div>
                                        </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>  
                                <!-- === SCRIPT === -->
                                <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    document.querySelectorAll('.has-mega-menu').forEach(menu => {
                                    const brandItems = menu.querySelectorAll('.brand-item');
                                    const panels = menu.querySelectorAll('.brand-panel');
                                
                                    if (brandItems.length > 0) {
                                        brandItems[0].classList.add('active');
                                        if (panels.length > 0) panels[0].classList.add('active');
                                    }
                                
                                    brandItems.forEach(item => {
                                        item.addEventListener('mouseenter', () => {
                                        const targetBrand = item.dataset.brand;
                                        brandItems.forEach(i => i.classList.remove('active'));
                                        panels.forEach(p => p.classList.remove('active'));
                                        item.classList.add('active');
                                        const targetPanel = menu.querySelector(`.brand-panel[data-brand="${targetBrand}"]`);
                                        if (targetPanel) targetPanel.classList.add('active');
                                        });
                                    });
                                    });
                                });
                                </script>
                                <!-- === END: DYNAMIC HEADER MEGA MENUS === -->
                               
                              
                            {%- if block.settings.show_cart or block.settings.show_wishlist or block.settings.show_account -%}
                                <div class="header-advanced-icons">
                                    {% comment %} 29-10-25 search icon {% endcomment %}
                                      {%- if block.settings.show_search -%}
                                    <div 
                                      class="header__search-wrapper" 
                                      style="
                                        --search-icon-color: {{ block.settings.search_icon_color }};
                                        --search-icon-bg: {% if block.settings.search_icon_gradient != blank %}{{ block.settings.search_icon_gradient }}{% else %}{{ block.settings.search_icon_bg }}{% endif %};
                                        --search-border-radius: {{ block.settings.search_border_radius }}px;
                                      "
                                    >
                                      <button class="search-toggle-btn" aria-label="Search">
                                        {% render 'icon-search-02' %}
                                      </button>
                                  
                                      <form action="{{ routes.search_url }}" method="get" role="search" class="search-form">
                                        <input 
                                          class="search-input" 
                                          type="search" 
                                          name="q" 
                                          placeholder="{{ 'general.search.search_the_store' | t }}" 
                                          autocomplete="off"
                                        >
                                        <button type="submit" class="search-submit-btn" aria-label="Search">
                                          {% render 'icon-search-02' %}
                                        </button>
                                        <button type="button" class="search-close-btn" aria-label="Close Search">
                                          {% render 'icon-close' %}
                                        </button>
                                      </form>
                                    </div>
                                  {%- endif -%}
      
                                    <script>

                                            document.addEventListener('DOMContentLoaded', function() {
                                            const toggleBtn = document.querySelector('.search-toggle-btn');
                                            const searchForm = document.querySelector('.search-form');
                                            const closeBtn = document.querySelector('.search-close-btn');
                                            
                                            if (toggleBtn && searchForm && closeBtn) {
                                                toggleBtn.addEventListener('click', () => {
                                                searchForm.classList.toggle('active');
                                                });
                                            
                                                closeBtn.addEventListener('click', () => {
                                                searchForm.classList.remove('active');
                                                });
                                            }
                                            });
                                            
                                    </script>
                                    {%- if block.settings.show_cart -%}
                                        <div class="header__iconItem header__group header-advanced-cart" style="--color: {{ block.settings.cart_color }}; --cart-bg-item: {{ block.settings.cart_bg_item }}; --cart-color-item: {{ block.settings.cart_color_item }}; --cart-item-font-size: {{ block.settings.cart_item_font_size }}px">
                                            <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset cart-icon-bubble"{% if settings.show_quick_cart %} data-cart-sidebar{% endif %}>
                                                {% render 'icon-cart-03' %}
                                                {% comment %} <div class="header-advanced-textRight">
                                                    <div class="cart-count-bubble">
                                                        <span class="text" aria-hidden="true" data-cart-count>{%- if cart.item_count < 100 -%}{{ cart.item_count }}{%- else -%}{{ 'sections.cart.item_99' | t }}{%- endif -%}</span>
                                                        <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                                                    </div>
                                                    <span class="cart-text">{{ 'general.cart.cart' | t }}</span>
                                                </div> {% endcomment %}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                    {%- if settings.show_wishlist and block.settings.show_wishlist -%}
                                        <div class="header__iconItem header__group header-advanced-wishlist" style="--color: {{ block.settings.wishlist_color }};--wishlist-bg-item: {{ block.settings.wishlist_bg_item }}; --wishlist-color-item: {{ block.settings.wishlist_color_item }};--cart-item-font-size: {{ block.settings.cart_item_font_size }}px">
                                            <a href="{% if settings.link_wishlist != blank %}{{ settings.link_wishlist }}{% else %}{{ pages['wish-list'].url }}{% endif %}" class="header__icon header__icon--wishlist link link--text focus-inset">
                                                {% render 'icon-heart-2' %} 
                                                <span class="wishlist-text{% if block.settings.show_wishlist_number %} show_wishlist_number{% endif %}">{{ 'wishlist.general.wishlist' | t }}</span>
                                                {%- if block.settings.show_wishlist_number -%}
                                                    <div class="wishlist-count-bubble"><span class="text" aria-hidden="true" data-wishlist-count></span><span class="visually-hidden">{{ 'wishlist.general.wishlist' | t }}</span></div>
                                                {%- endif -%}
                                            </a>
                                        </div>
                                    {%- endif -%}
                                    {%- if block.settings.show_account -%}
                                        <div class="header__iconItem header__group header-advanced-account" style="--color: {{ block.settings.customer_color }}">
                                            {%- if shop.customer_accounts_enabled -%}
                                                {% if routes.account_login_url contains '/account/login' %}
                                                    {% assign is_contained = true %}
                                                {% else %}
                                                    {% assign is_contained = false %}
                                                {% endif %}
                                                {%- if section.settings.layout == 'style2' -%}
                                                    <a href="{{ routes.account_login_url }}" class="header__icon header__icon--account link link--text"{% if is_contained %} data-open-auth-sidebar{% endif %}>
                                                        {% render 'icon-account-2' %}
                                                        {% comment %} <div class="header-advanced-textRight">
                                                            <span class="hello">{{ 'customer.hello' | t }}</span>
                                                            <span class="header-advanced-text">
                                                                {%- if customer and customer.has_avatar? -%}
                                                                    <account-icon>
                                                                        {{ customer | avatar }}
                                                                    </account-icon>
                                                                {%- else -%}
                                                                    {%- liquid
                                                                        if customer
                                                                            echo 'customer.account_fallback' | t
                                                                        else
                                                                            echo 'customer.sign_in' | t
                                                                        endif
                                                                    -%}
                                                                {%- endif -%}
                                                            </span>
                                                        </div> {% endcomment %}
                                                    </a>
                                                {%- else -%}
                                                    <div class="header__icon header__icon--account link link--text">
                                                        <a href="{{ routes.account_login_url }}"{% if is_contained %} data-open-auth-sidebar{% endif %}>
                                                            {%- if customer and customer.has_avatar? -%}
                                                                <account-icon>
                                                                    {{ customer | avatar }}
                                                                </account-icon>
                                                            {%- else -%}
                                                                {% render 'icon-account-2' %}
                                                            {%- endif -%}
                                                        </a>
                                                        <div class="header-advanced-textRight">
                                                            {% if customer %}
                                                                <a class="header__link--account" id="customer_logout_link" href="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</a>
                                                                <span> / </span>
                                                                <a class="header__link--account" href="{{ routes.account_url }}">
                                                                    {%- if customer and customer.has_avatar? -%}
                                                                        <account-icon>
                                                                            {{ customer | avatar }}
                                                                        </account-icon>
                                                                    {%- else -%}
                                                                        {{ 'customer.account.my_account' | t }}
                                                                    {%- endif -%}
                                                                </a>
                                                            {% else %}  
                                                                <div class="header-advanced__link--account">
                                                                    <a class="header__link--account" id="customer_login_link" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"{% if is_contained %} data-open-auth-sidebar{% endif %}>
                                                                        {{ 'customer.login_page.title' | t }}
                                                                    </a>
                                                                    <span class="or-text">{{ 'customer.or' | t }}</span>
                                                                    <a class="header__link--account" id="customer_register_link" href="{{ routes.account_register_url }}">{{ 'customer.login_page.register' | t }}</a>
                                                                </div>
                                                                <div class="header-advanced-text">{{ 'customer.my_account' | t }}</div>
                                                            {% endif %}
                                                        </div>  
                                                    </div>
                                                {%- endif -%}                   
                                            {%- endif -%}
                                        </div>
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                    {%- endcase -%}
                </div>
            </div>
        </div>
    {%- endfor -%}
</header>

{% schema %}
{
    "name": "Header - Advanced",
    "limit": 1,
    "class": "section-header-advanced",
    "settings": [
        {
            "type": "paragraph",
            "content": "*You should only activate\/use \"Header\" you want, don't use the redundant headers which may not optimize for performance."
        },
        {
            "type": "select",
            "id": "layout",
            "label": "t:sections.header.settings.header_layout.style",
            "default": "style1",
            "options": [
            {
                "value": "style1",
                "label": "t:settings_schema.typography.settings.typography.style_1"
            },
            {
                "value": "style2",
                "label": "t:settings_schema.typography.settings.typography.style_2"
            }]
        },
        {
            "type": "color",
            "id": "border_top",
            "label": "t:settings_schema.typography.settings.typography.border_top_color"
        },
        {
        "type": "header",
        "content": "Mega Menu Settings"
        },
        {
        "type": "text",
        "id": "mega_menu_title",
        "label": "Mega Menu Title",
        "default": "Phones"
        }
    ],
    "blocks": [
        {
            "type": "group_1",
            "name": "Text, Language & Currency",
            "limit": 1,
            "settings": [
                {
                    "type": "select",
                    "id": "container",
                    "label": "t:sections.layout.container.block_width",
                    "default": "1170",
                    "options": [
                        {
                            "value": "1170",
                            "label": "t:sections.layout.container.option4"
                        },
                        {
                            "value": "1370",
                            "label": "t:sections.layout.container.option8"
                        },
                        {
                            "value": "1470",
                            "label": "t:sections.layout.container.option5"
                        },
                        {
                            "value": "1570",
                            "label": "t:sections.layout.container.option6"
                        },
                        {
                            "value": "1770",
                            "label": "t:sections.layout.container.option3"
                        },
                        {
                            "value": "full",
                            "label": "t:sections.layout.container.option2"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "padding_full_width",
                    "label": "t:sections.layout.container.padding_full_width",
                    "min": 0,
                    "max": 100,
                    "step": 5,
                    "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                    "default": 0
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
                    "default": "#f7f8fa"
                },
                {
                    "type": "color_background",
                    "id": "gradient",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.first_content"
                },
                {
                    "type": "select",
                    "id": "icon_1",
                    "label": "Icon",
                    "default": "1",
                    "options": [
                        {
                            "value": "0",
                            "label": "None"
                        },
                        {
                            "value": "1",
                            "label": "Phone - Light"
                        },
                        {
                            "value": "2",
                            "label": "Phone - Bold"
                        },
                        {
                            "value": "3",
                            "label": "Headphones"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "custom_text_1",
                    "label": "t:settings_schema.typography.settings.typography.text",
                    "default": "<p>Toll-free: <a href=\"tel:091%20234-567\">(091) 123-4567<\/a><\/p>"
                },
                {
                    "type": "checkbox",
                    "id": "use_typewriter",
                    "label": "t:sections.header.settings.header_top.label__7"
                },
                {
                    "type": "range",
                    "id": "text_size_1",
                    "label": "t:settings_schema.typography.settings.typography.text_font_size",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 12
                },
                {
                    "type": "color",
                    "id": "color_1",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "checkbox",
                    "id": "show_on_mb",
                    "label": "t:sections.header.settings.header_top.label__8"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.second_content"
                },
                {
                    "type": "select",
                    "id": "icon_2",
                    "label": "Icon",
                    "default": "1",
                    "options": [
                        {
                            "value": "0",
                            "label": "None"
                        },
                        {
                            "value": "1",
                            "label": "Mail - Classic"
                        },
                        {
                            "value": "2",
                            "label": "Mail Plus - Light"
                        },
                        {
                            "value": "3",
                            "label": "Mail Plus - Bold"
                        }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "custom_text_2",
                    "label": "t:settings_schema.typography.settings.typography.text",
                    "default": "<p><a href=\"tel:09120234-567\" target=\"_blank\" title=\"mailto:email@domain.com\">email@domain.com<\/a><\/p>"
                },
                {
                    "type": "range",
                    "id": "text_size_2",
                    "label": "t:settings_schema.typography.settings.typography.text_font_size",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 12
                },
                {
                    "type": "color",
                    "id": "color_2",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.third_content"
                },
                {
                    "type": "richtext",
                    "id": "custom_text_3",
                    "label": "t:settings_schema.typography.settings.typography.text",
                    "default": "<p><strong>Free Shipping Over $99*<\/strong><\/p>"
                },
                {
                    "type": "range",
                    "id": "text_size_3",
                    "label": "t:settings_schema.typography.settings.typography.text_font_size",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 12
                },
                {
                    "type": "color",
                    "id": "color_3",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.fourth_content"
                },
                {
                    "type": "liquid",
                    "id": "icon_4",
                    "label": "t:sections.spotlight_block.settings.icon",
                    "info": "t:settings_schema.typography.settings.typography.view_all_info"
                },
                {
                    "type": "richtext",
                    "id": "custom_text_4",
                    "label": "t:settings_schema.typography.settings.typography.text",
                    "default": "<ul><li><a href=\"\/pages\/faqs\" title=\"\/pages\/faqs\">Theme FAQs<\/a><\/li><li><a href=\"\/pages\/contact-us-1\" title=\"\/pages\/contact-us-1\">Need Help?<\/a><\/li><\/ul>"
                },
                {
                    "type": "range",
                    "id": "text_size_4",
                    "label": "t:settings_schema.typography.settings.typography.text_font_size",
                    "min": 10,
                    "max": 30,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 12
                },
                {
                    "type": "color",
                    "id": "color_4",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.language_currency"
                },
                {
                    "type": "checkbox",
                    "id": "show_language_currency",
                    "label": "t:sections.header.settings.navigation.label_3",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "language_currency_style",
                    "label": "Style",
                    "default": "1",
                    "options": [
                        {
                            "value": "1",
                            "label": "Style 1"
                        },
                        {
                            "value": "2",
                            "label": "Style 2"
                        }
                    ]
                },
                {
                    "type": "checkbox",
                    "id": "hide_flag",
                    "label": "Hide flag icon",
                    "info": "Only for style 2"
                },
                {
                    "type": "color",
                    "id": "language_currency_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.main-product.settings.general.block_spacing"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:settings_schema.typography.settings.type_button_font.padding_top",
                    "default": 5
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:settings_schema.typography.settings.type_button_font.padding_bottom",
                    "default": 5
                }
            ]
        },
        {
            "type": "group_2",
            "name": "Logo, Search & Icons",
            "limit": 1,
            "settings": [
                {
                    "type": "select",
                    "id": "container",
                    "label": "t:sections.layout.container.block_width",
                    "default": "1170",
                    "options": [
                        {
                            "value": "1170",
                            "label": "t:sections.layout.container.option4"
                        },
                        {
                            "value": "1370",
                            "label": "t:sections.layout.container.option8"
                        },
                        {
                            "value": "1470",
                            "label": "t:sections.layout.container.option5"
                        },
                        {
                            "value": "1570",
                            "label": "t:sections.layout.container.option6"
                        },
                        {
                            "value": "1770",
                            "label": "t:sections.layout.container.option3"
                        },
                        {
                            "value": "full",
                            "label": "t:sections.layout.container.option2"
                        }
                    ]
                },
                {
                    "type": "range",
                    "id": "padding_full_width",
                    "label": "t:sections.layout.container.padding_full_width",
                    "min": 0,
                    "max": 100,
                    "step": 5,
                    "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                    "default": 0
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
                    "default": "#ffffff"
                },
                {
                    "type": "color_background",
                    "id": "gradient",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.blocks.header__2.content"
                },
                {
                    "type": "checkbox",
                    "id": "show_logo",
                    "label": "t:sections.header.settings.header_icons.label__5",
                    "default": true
                },
                {
                    "type": "select",
                    "id": "logo_position",
                    "label": "t:sections.header.settings.logo.label__3",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "t:sections.header.settings.logo.label__1"
                },
                {
                    "type": "range",
                    "id": "logo_width",
                    "min": 50,
                    "max": 300,
                    "step": 5,
                    "unit": "t:sections.header.settings.logo_width.unit",
                    "label": "t:sections.header.settings.logo_width.label__1",
                    "default": 145
                },
                {
                    "type": "range",
                    "id": "logo_mg_left",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo_width.unit",
                    "label": "t:sections.general.settings.page-content.mg_left",
                    "default": 35
                },
                {
                    "type": "liquid",
                    "id": "logo_text",
                    "label": "t:settings_schema.typography.settings.typography.text_svg_icon",
                    "info": "t:settings_schema.typography.settings.typography.logo_icon_info"
                },
                {
                    "type": "range",
                    "id": "logo_font_size",
                    "label": "t:settings_schema.typography.settings.typography.text_font_size",
                    "min": 15,
                    "max": 60,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 30
                },
                {
                    "type": "select",
                    "id": "logo_font_weight",
                    "label": "t:settings_schema.typography.settings.typography.text_font_weight",
                    "default": "900",
                    "options": [
                    {
                        "value": "400",
                        "label": "t:settings_schema.typography.settings.font_weight.options__1"
                    },
                    {
                        "value": "500",
                        "label": "t:settings_schema.typography.settings.font_weight.options__2"
                    },
                    {
                        "value": "600",
                        "label": "t:settings_schema.typography.settings.font_weight.options__3"
                    },
                    {
                        "value": "700",
                        "label": "t:settings_schema.typography.settings.font_weight.options__4"
                    },
                    {
                        "value": "800",
                        "label": "t:settings_schema.typography.settings.font_weight.options__5"
                    },
                    {
                        "value": "900",
                        "label": "t:settings_schema.typography.settings.font_weight.options__6"
                    }]
                },
                {
                    "type": "select",
                    "id": "logo_text_transform",
                    "label": "t:settings_schema.typography.settings.text_transform.label",
                    "default": "uppercase",
                    "options": [
                    {
                        "value": "none",
                        "label": "t:settings_schema.typography.settings.text_transform.options__1"
                    },
                    {
                        "value": "capitalize",
                        "label": "t:settings_schema.typography.settings.text_transform.options__2"
                    },
                    {
                        "value": "uppercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__3"
                    },
                    {
                        "value": "lowercase",
                        "label": "t:settings_schema.typography.settings.text_transform.options__4"
                    }]
                },
                {
                    "type": "color",
                    "id": "logo_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.header.settings.header_top.search"
                },
                {
                    "type": "checkbox",
                    "id": "show_search",
                    "label": "t:sections.header.settings.header_icons.label__3",
                    "default": true
                },
                {
                    "type": "checkbox",
                    "id": "show_box_shadow",
                    "label": "t:settings_schema.typography.settings.type_button_font.show_box_shadow",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "search_color",
                    "label": "t:settings_schema.typography.settings.typography.text_color",
                    "default": "#767676"
                },
                {
                    "type": "color",
                    "id": "bg_search_color",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
                    "default": "#F7F8FA"
                },
                {
                    "type": "color",
                    "id": "search_icon_color",
                    "label": "t:settings_schema.typography.settings.typography.icon_color",
                    "default": "#06142e"
                },
                {
                    "type": "color",
                    "id": "search_icon_bg",
                    "label": "t:sections.slide-show.blocks.image.slider_look.dots_bg_color",
                    "default": "#f7c34a"
                },
                {
                    "type": "color_background",
                    "id": "search_icon_gradient",
                    "label": "t:sections.header.settings.header_top.search_color_bg_gradient_icon"
                },
                {
                    "type": "range",
                    "id": "search_border_radius",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo_width.unit",
                    "label": "t:settings_schema.typography.settings.type_button_font.border_radius",
                    "default": 5
                },
                {
                    "type": "header",
                    "content": "Cart"
                },
                {
                    "type": "checkbox",
                    "id": "show_cart",
                    "label": "t:sections.header.settings.header_icons.label__4",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "cart_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "color",
                    "id": "cart_bg_item",
                    "label": "t:sections.header.settings.header_top.background_color_items_cart",
                    "default": "#f42b23"
                },
                {
                    "type": "color",
                    "id": "cart_color_item",
                    "label": "t:sections.header.settings.header_top.color_items_cart",
                    "default": "#ffffff"
                },
                {
                    "type": "range",
                    "id": "cart_item_font_size",
                    "label": "t:sections.header.settings.header_top.font_size_cart_item",
                    "min": 10,
                    "max": 25,
                    "step": 1,
                    "unit": "t:sections.header.settings.logo.unit",
                    "default": 12
                },
                {
                    "type": "header",
                    "content": "Wish List"
                },
                {
                    "type": "checkbox",
                    "id": "show_wishlist",
                    "label": "t:sections.header.settings.header_icons.label__1",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "wishlist_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "checkbox",
                    "id": "show_wishlist_number",
                    "label": "t:sections.header.settings.header_icons.label__6",
                    "default": false
                },
                {
                    "type": "color",
                    "id": "wishlist_color_item",
                    "label": "t:settings_schema.typography.settings.typography.text_color",
                    "default": "#ffffff"
                },
                {
                    "type": "color",
                    "id": "wishlist_bg_item",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_2",
                    "default": "#232323"
                },
                {
                    "type": "header",
                    "content": "Customer"
                },
                {
                    "type": "checkbox",
                    "id": "show_account",
                    "label": "t:sections.header.settings.header_icons.label__2",
                    "default": true
                },
                {
                    "type": "color",
                    "id": "customer_color",
                    "label": "t:sections.header.settings.header_top.label__4",
                    "default": "#06142e"
                },
                {
                    "type": "header",
                    "content": "t:sections.main-product.settings.general.block_spacing"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:settings_schema.typography.settings.type_button_font.padding_top",
                    "default": 19
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "t:settings_schema.typography.settings.type_button_font.padding_bottom",
                    "default": 19
                }
            ]
        },
        {
            "type": "mega_menu_group",
            "name": "Mega Menu Group",
            "settings": [
              {
                "type": "text",
                "id": "menu_title",
                "label": "Menu Title (e.g. Phones, MacBooks, iPads)",
                "default": "Phones"
              },
              {
                "type": "text",
                "id": "group_handle",
                "label": "Unique Group Handle (e.g. phones, macbooks, ipads)",
                "default": "phones"
              }
            ]
          },
          {
            "type": "brand_menu",
            "name": "Brand Menu",
            "settings": [
              {
                "type": "text",
                "id": "group_handle",
                "label": "Attach to Group Handle (e.g. phones, macbooks)",
                "default": "phones"
              },
              {
                "type": "text",
                "id": "brand_name",
                "label": "Brand Name",
                "default": "Apple"
              },
              {
                "type": "text",
                "id": "brand_handle",
                "label": "Brand Handle (unique, e.g. apple)",
                "default": "apple"
              },
              {
                "type": "link_list",
                "id": "brand_menu",
                "label": "Select Navigation Menu for this Brand"
              }
            ]
          },
          {
            "type": "brand_image",
            "name": "Brand Image",
            "settings": [
              {
                "type": "text",
                "id": "brand_handle",
                "label": "Match Brand Handle",
                "default": "apple"
              },
              {
                "type": "image_picker",
                "id": "image",
                "label": "Brand Image"
              },
              {
                "type": "richtext",
                "id": "text",
                "label": "Image Caption"
              }
            ]
          }
    ],
    "presets": [
        {
            "name": "Header - Advanced",
            "blocks": [
                {
                    "type": "group_1"
                },
                {
                    "type": "group_2"
                }
            ]
        }
    ],
    "enabled_on": {
        "groups": ["header"]
    }
}
{% endschema %}